body {
    background-color: #eee;
    padding: 30px;
}

.masonary-grid {
    margin: 0 auto;
}

.grid-item {
    float: left;
    margin-bottom: -10px;
}

#card1 {
    height: 200px;
    width: 200px;
    background-color: #8A5CFF;
}

#card2 {
    height: 300px;
    width: 200px;
    background-color: #FF7070;
}
    
#card3 {
    height: 600px;
    width: 200px;
    background-color: #fff070;
}

#card4 {
    height: 200px;
    width: 200px;
    background-color: #54FF73;
}

#card5 {
    height: 300px;
    width: 200px;
    background-color: #6E94FF;
}

#card6 {
    height: 300px;
    width: 200px;
    background-color: #AFF;
}

#card7 {
    height: 500px;
    width: 200px;
    background-color: #6E9;
}

#card8 {
    height: 400px;
    width: 200px;
    background-color: #F14;
}

#card9 {
    height: 300px;
    width: 200px;
    background-color: #6E6445;
}

#card10 {
    height: 600px;
    width: 200px;
    background-color: #6166FF;
}

#card11 {
    height: 200px;
    width: 200px;
    background-color: lightpink;
}

#card12 {
    height: 300px;
    width: 200px;
    background-color: coral;
}
